<div class="row">
	<div class="col-sm-12">
		<button class="btn" type="button" ng-click="export = true; exportData();">Export</button>
		<div class="table-responsive">
			<div id="savings_report">
				<table class="table" id="dvData" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 11px;">
					<tr>
						<td colspan="2" style="text-align: left;"> LTL Savings Estimate </td>
						<td colspan="12" style="font-size: medium; text-align: center;"> <b> {{client_name}} </b> </td>
						<td colspan="2" style="text-align: right;"> Prepared by: Silverback</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: left;"> Processing Date: {{process_date | date: 'MM/dd/yyyy'}} </td>
						<td colspan="14"> </td>
					</tr>
					<tr style="text-align: center; font-weight: bold;  font-size: 11px;">
						<td colspan="4"> </td>
						<td style="background-color: lightblue; border-left: 1px solid black;" colspan="5"> Benchmark </td>
						<td style="background-color: lightyellow; border-left: 1px solid black;" colspan="5"> New Charges </td>
						<td style="background-color: lightgreen; border-bottom: 1px solid black; border-left: 1px solid black;" rowspan="2"> Savings </td>
						<td style=" border-left: 1px solid black;" rowspan="2"> 1/2 of Sav. </td>
					</tr>
					<tr style="font-weight: bold; text-align: left; font-size: 11px;">
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Carrier </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Pro </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Receiver Name</td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Zip Code </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; border-left: 1px solid black; vertical-align: middle;"> BM Disc </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> Frt Charge</td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> FSC </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> Access. </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> TTL Charge </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; border-left: 1px solid black; vertical-align: middle;"> Disc </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> Frt Charges </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> FSC </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> Access. </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> TTL Charges </td>
					</tr>
					<tr ng-repeat="invoice in savingsInvoices | orderBy:'ship_date'" style="text-align: left;  font-size: 11px;">
						<td style="vertical-align: middle;">{{invoice.carrier_name}}</td>
						<td style="vertical-align: middle;">{{invoice.invoice_number}} </td>
						<td style="vertical-align: middle;">{{invoice.receiver_name}} </td>
						<td style="vertical-align: middle;">{{invoice.receiver_zip}} </td>
						<td style="background-color: lightblue; border-left: 1px solid black; vertical-align: middle; text-align: center;">{{invoice.bmdiscount}} </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;">
							<div ng-if="export" ng-init="export = false">
								{{invoice.freight_charge | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS">{{invoice.freight_charge | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.freight_charge" class="form-control" ng-change="recalculation(invoice, 'complex')">
							</div>
						</td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> 
							<div ng-if="export" ng-init="export = false">
								{{invoice.benchmark_fuel_charge | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS"> {{invoice.benchmark_fuel_charge | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.benchmark_fuel_charge" class="form-control" ng-change="recalculation(invoice, 'simple')">
							</div>
						</td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;" ng-init="invoice.benchamrk_access = invoice.total_benchmark">
							<div ng-if="export" ng-init="export = false">
								{{invoice.benchamrk_access | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS">{{invoice.benchamrk_access | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.benchamrk_access" class="form-control" ng-change="recalculation(invoice, 'simple')">
							</div>
						</td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;">
							<div ng-if="export" ng-init="export = false">
								{{invoice.benchmark_charge | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS"> {{invoice.benchmark_charge | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.benchmark_charge" class="form-control">
							</div>
						</td>
						<td style="background-color: lightyellow; border-left: 1px solid black; vertical-align: middle; text-align: center;"> {{invoice.savings_discount}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;">
							<div ng-if="export" ng-init="export = false">
								{{invoice.savings_frieght_charge | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS"> {{invoice.savings_frieght_charge | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.savings_frieght_charge" class="form-control" ng-change="recalculation(invoice, 'complex')">
							</div>
						</td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;" > 
							<div ng-if="export" ng-init="export = false">
								{{invoice.savings_fuel_surcharge | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS"> {{invoice.savings_fuel_surcharge | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.savings_fuel_surcharge" class="form-control" ng-change="recalculation(invoice, 'simple')">
							</div>
						</td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;" ng-init="invoice.assess_charge = invoice.total_associated_costs">
							<div ng-if="export" ng-init="export = false">
								{{invoice.assess_charge | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS"> {{invoice.assess_charge | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.assess_charge" class="form-control" ng-change="recalculation(invoice, 'simple')">
							</div>
						</td>
						<td style="background-color: lightyellow;  vertical-align: middle; text-align: right;">
							<div ng-if="export" ng-init="export = false">
								{{invoice.savings_total_charge | currency}}
							</div>
							<div ng-if="!export">
								<a href="" ng-click="editTS = true" ng-hide="editTS"> {{invoice.savings_total_charge | currency}} </a>
								<input ng-if="editTS" type="number" step="0.01" ng-model="invoice.savings_total_charge" class="form-control" >
							</div>
						</td>
						<td style="background-color: lightgreen; border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{invoice.benchmark_charge - invoice.savings_total_charge | currency}} </td>
						<td style="border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{(invoice.benchmark_charge - invoice.savings_total_charge)/2 | currency}} </td>
					</tr>
					<tr ng-repeat="xpoInvoice in savingsXPOInvoices | orderBy:'ship_date'" style="text-align: left;  font-size: 11px;">
						<td style="vertical-align: middle;"> {{xpoInvoice.carrier_name}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.pro_number}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.receiver}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.receiver_zip}} </td>
						<td style="background-color: lightblue; border-left: 1px solid black; vertical-align: middle; text-align: center;"> 82.9% </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{xpoInvoice.old_cost | currency}}</td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{xpoInvoice.old_fsc | currency}} </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"></td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{xpoInvoice.old_total_cost | currency}}</td>
						<td style="background-color: lightyellow; border-left: 1px solid black; vertical-align: middle; text-align: center;"> {{xpoInvoice.discount_percent}}% </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{ xpoInvoice.new_cost | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{ xpoInvoice.new_fsc | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;" ></td>
						<td style="background-color: lightyellow;  vertical-align: middle; text-align: right;">							{{xpoInvoice.new_total_cost | currency}} </td>
						<td style="background-color: lightgreen; border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{xpoInvoice.savings | currency}} </td>
						<td style="border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{xpoInvoice.savings/2 | currency}} </td>
					</tr>
					<tr ng-repeat="saiaInvoice in savingsSaiaInvoices | orderBy:'ship_date'" style="text-align: left;  font-size: 11px;">
						<td style="vertical-align: middle;"> {{saiaInvoice.carrier_name}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.pro_number}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.receiver}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.receiver_zip}} </td>
						<td style="background-color: lightblue; border-left: 1px solid black; vertical-align: middle; text-align: center;" step="1"> {{(1 - (saiaInvoice.old_cost_saia / saiaInvoice.base_charge)) * 100}}% </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{saiaInvoice.old_cost_saia | currency}}</td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{saiaInvoice.old_fsc_dollar | currency}} </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"></td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{saiaInvoice.old_total_cost_dollar | currency}}</td>
						<td style="background-color: lightyellow; border-left: 1px solid black; vertical-align: middle; text-align: center;"> {{saiaInvoice.discount_percent}}% </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{ saiaInvoice.new_cost | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{ saiaInvoice.new_fsc_dollar | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;" ></td>
						<td style="background-color: lightyellow;  vertical-align: middle; text-align: right;">							{{saiaInvoice.new_total_cost_dollar | currency}} </td>
						<td style="background-color: lightgreen; border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{saiaInvoice.savings_dollar | currency}} </td>
						<td style="border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{saiaInvoice.savings_dollar/2 | currency}} </td>
					</tr>
					<tr style="font-weight: bold; text-align: left; vertical-align: middle;  font-size: 11px;">
						<td style="border-top: 1px solid black; vertical-align: middle;" colspan="4"> </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle;"> Totals: </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalBenchmarkFrieghtCharge | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalFuelBenchmark | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalBenchmarkAccessorial | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalBenchmarkCharge | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalFreightCharge | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalFuelCharge | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalAccesorialCharge | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalCharged | currency}} </td>
						<td style="border-top: 1px solid black; border-bottom: 5px double black; vertical-align: middle; text-align: right;"> {{totalBenchmarkCharge - totalCharged | currency}} </td>
						<td style="vertical-align: middle; text-align: right;"> {{(totalBenchmarkCharge - totalCharged)/2 | currency}} </td>
					</tr>
					<tr>
						<td colspan="16"> </td>
					</tr>
					<tr class="underTotals">
						<td colspan="14"> </td>
						<td style="border: 3px solid; text-align: center; vertical-align: middle; font-weight:bold;  font-size: 11px;"> {{(1-(totalCharged / totalBenchmarkCharge))*100| number :2}}%</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="table-responsive">
			<div id="xpo_data">
				<table class="table table-condensed table-striped" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 11px;">
					
					<tr style="text-align: center; font-weight: bold;  font-size: 11px;">
						<td colspan="11"> </td>
						<td style="background-color: lightblue; border-left: 1px solid black;" colspan="3"> Benchmark </td>
						<td style="background-color: lightyellow; border-left: 1px solid black;" colspan="3"> New Charges </td>
						<td style="background-color: lightgreen; border-bottom: 1px solid black; border-left: 1px solid black;" rowspan="2"> Savings </td>
					</tr>
					<tr style="font-weight: bold; text-align: left; font-size: 11px;">
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Carrier </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Ship Date </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Pro </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Shipper Name</td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Zip Code </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Cosignee </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Zip Code </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> FSC % </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Base Charge </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Discount $ </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Discount % </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; border-left: 1px solid black; vertical-align: middle;"> Frt Charge</td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> FSC </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> TTL Charge </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; border-left: 1px solid black; vertical-align: middle;"> Frt Charges </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> FSC </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> TTL Charges </td>
					</tr>
					<tr ng-repeat="xpoInvoice in savingsXPOInvoices | orderBy:'ship_date'" style="text-align: left;  font-size: 11px;">
						<td style="vertical-align: middle;"> {{xpoInvoice.carrier_name}}</td>
						<td style="vertical-align: middle;"> {{xpoInvoice.ship_date | date:'yyyy-MM-dd'}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.pro_number}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.sender}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.sender_zip}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.receiver}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.receiver_zip}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.fsc_percent * 100}}% </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.base_charge}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.discount_ammount}} </td>
						<td style="vertical-align: middle;"> {{xpoInvoice.discount_percent}}% </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right; border-left: 1px solid black;"> {{xpoInvoice.old_cost | currency}}</td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{xpoInvoice.old_fsc | currency}} </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{xpoInvoice.old_total_cost | currency}}
						</td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right; border-left: 1px solid black;"> {{xpoInvoice.new_cost | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{xpoInvoice.new_fsc | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{xpoInvoice.new_total_cost | currency}}
						</td>
						<td style="background-color: lightgreen; border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{xpoInvoice.savings | currency}} </td>
					</tr>
				</table>
			</div>
		</div>
		<div class="table-responsive">
			<div id="saia_data">
				<table class="table table-condensed table-striped" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 11px;">
					
					<tr style="text-align: center; font-weight: bold;  font-size: 11px;">
						<td colspan="11"> </td>
						<td style="background-color: lightblue; border-left: 1px solid black;" colspan="3"> Benchmark </td>
						<td style="background-color: lightyellow; border-left: 1px solid black;" colspan="3"> New Charges </td>
						<td style="background-color: lightgreen; border-bottom: 1px solid black; border-left: 1px solid black;" rowspan="2"> Savings </td>
					</tr>
					<tr style="font-weight: bold; text-align: left; font-size: 11px;">
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Carrier </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Ship Date </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Pro </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Shipper Name</td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Zip Code </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Cosignee </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Zip Code </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> FSC </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Base Charge </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Discount $ </td>
						<td style="border-bottom: 1px solid black; vertical-align: middle;"> Discount % </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; border-left: 1px solid black; vertical-align: middle;"> Frt Charge</td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> FSC </td>
						<td style="background-color: lightblue; border-bottom: 1px solid black; vertical-align: middle;"> TTL Charge </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; border-left: 1px solid black; vertical-align: middle;"> Frt Charges </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> FSC </td>
						<td style="background-color: lightyellow; border-bottom: 1px solid black; vertical-align: middle;"> TTL Charges </td>
					</tr>
					<tr ng-repeat="saiaInvoice in savingsSaiaInvoices | orderBy:'ship_date'" style="text-align: left;  font-size: 11px;">
						<td style="vertical-align: middle;"> {{saiaInvoice.carrier_name}}</td>
						<td style="vertical-align: middle;"> {{saiaInvoice.ship_date | date:'yyyy-MM-dd'}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.pro_number}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.sender}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.sender_zip}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.receiver}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.receiver_zip}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.fsc_dollar}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.base_charge}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.discount_ammount}} </td>
						<td style="vertical-align: middle;"> {{saiaInvoice.discount_percent}}% </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right; border-left: 1px solid black;"> {{saiaInvoice.old_cost_saia | currency}}</td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{saiaInvoice.old_fsc_dollar | currency}} </td>
						<td style="background-color: lightblue; vertical-align: middle; text-align: right;"> {{saiaInvoice.old_total_cost_dollar | currency}}
						</td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right; border-left: 1px solid black;"> {{saiaInvoice.new_cost | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{saiaInvoice.new_fsc_dollar | currency}} </td>
						<td style="background-color: lightyellow; vertical-align: middle; text-align: right;"> {{saiaInvoice.new_total_cost_dollar | currency}}
						</td>
						<td style="background-color: lightgreen; border-left: 1px solid black; vertical-align: middle; text-align: right;"> {{saiaInvoice.savings_dollar | currency}} </td>
					</tr>
				</table>
			</div>
		</div>
		<div class="table-responsive">
			<div id="all_data">
				<table class="table table-condensed table-striped" style="font-family: 'Arial Narrow', Arial, sans-serif; font-size: 11px;">
					<tr>
						<th colspan="46" style="text-align: center;">ALL DATA</th>
					</tr>
					<tr style="text-align: left;">
						<th>Client Name</th>
						<th>Client Address</th>
						<th>Client City</th>
						<th>Client Zip</th>
						<th>Client Zip+4</th>
						<th>Client Country</th>
						<th>Sender Name</th>
						<th>Sender Address</th>
						<th>Sender City</th>
						<th>Sender Zip</th>
						<th>Sender Zip+4</th>
						<th>Sender Country</th>
						<th>Receiver Name</th>
						<th>Receiver Address 1</th>
						<th>Receiver Address 2 </th>
						<th>Receiver City</th>
						<th>Receiver Zip</th>
						<th>Receiver Zip+4</th>
						<th>Receiver Country</th>
						<th>Carrier</th>
						<th>IOT</th>
						<th>Transportation Mode</th>
						<th>Package Type</th>
						<th>Fuel Surcharge</th>
						<th>FSC Date</th>
						<th>Diesel Price</th>
						<th>Invoice Number</th>
						<th>Billed Weight</th>
						<th>Process Date</th>
						<th>Ship Date </th>
						<th>Delivery Date </th>
						<th>Class 1</th>
						<th>Weight 1 </th>
						<th>Class 2</th>
						<th>Weight 2 </th>
						<th>Class 3</th>
						<th>Weight 3 </th>
						<th>Assc 1 $ </th>
						<th>Assc 1 Name </th>
						<th>Assc 2 $ </th>
						<th>Assc 2 Name </th>
						<th>Assc 3 $ </th>
						<th>Assc 3 Name </th>
						<th>TTL ASSC</th>
					</tr>
					<tr ng-repeat="invoice in savingsInvoices" style="text-align: left;">
						<td>{{invoice.client_name}}</td>
						<td>{{invoice.client_address_1}}</td>
						<td>{{invoice.client_city}}</td>
						<td>{{invoice.client_zip}}</td>
						<td>{{invoice.client_zip_4}}</td>
						<td>{{invoice.client_country}}</td>
						<td>{{invoice.sender_name}}</td>
						<td>{{invoice.sender_address_1}}</td>
						<td>{{invoice.sender_city}}</td>
						<td>{{invoice.sender_zip}}</td>
						<td>{{invoice.sender_zip_4}}</td>
						<td>{{invoice.sender_country}}</td>
						<td>{{invoice.receiver_name}}</td>
						<td>{{invoice.receiver_address_1}}</td>
						<td>{{invoice.receiver_address_2}}</td>
						<td>{{invoice.receiver_city}}</td>
						<td>{{invoice.receiver_zip}}</td>
						<td>{{invoice.receiver_zip_4}}</td>
						<td>{{invoice.receiver_country}}</td>
						<td>{{invoice.carrier_name}}</td>
						<td>{{invoice.delivery_type}} </td>
						<td>{{invoice.transportation_mode}}</td>
						<td>{{invoice.package_type}}</td>
						<td>{{invoice.savings_fuel_surcharge | currency}}</td>
						<td>{{invoice.fuel_date| date: 'MM/dd/yy'}}</td>
						<td>{{invoice.fuel_rate}}</td>
						<td>{{invoice.invoice_number}}</td>
						<td>{{invoice.billed_weight}}</td>
						<td>{{invoice.process_date | date: 'MM/dd/yy'}}</td>
						<td>{{invoice.ship_date | date: 'MM/dd/yy'}}</td>
						<td>{{invoice.delivery_date | date: 'MM/dd/yy'}}</td>
						<td>{{invoice.shipped_Item[0].classification}}</td>
						<td>{{invoice.shipped_Item[0].weight}}</td>
						<td>{{invoice.shipped_Item[1].classification}}</td>
						<td>{{invoice.shipped_Item[1].weight}}</td>
						<td>{{invoice.shipped_Item[2].classification}}</td>
						<td>{{invoice.shipped_Item[2].weight}}</td>
						<td>{{invoice.ACCSCosts[0].actual_cost | currency}}</td>
						<td>{{invoice.ACCSCosts[0].cost_code}}</td>
						<td>{{invoice.ACCSCosts[1].actual_cost | currency}}</td>
						<td>{{invoice.ACCSCosts[1].cost_code}} </td>
						<td>{{invoice.ACCSCosts[2].actual_cost | currency}}</td>
						<td>{{invoice.ACCSCosts[2].cost_code}} </td>
						<td>{{invoice.total_associated_costs | currency}}</td>
					</tr>
				</table>
			</div>
		</div>
		<button class="btn" type="button" ng-click="export = true; exportData();">Export</button>
	</div>
</div>